@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap');

.nav-links {
    font-size: smaller;
    color: white !important;
    padding-right: 50px !important;
}
.home-link {
    color: #0052FF !important;
}
.jumbotron {
    position: relative;
    background-image: url('./components/Images/Hero-Image.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    padding: 20px 20px 100px 20px;
}
.grey-film {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100% !important;
    background-color: rgba(0, 0, 0, 0.5);
}  
.jumbotron-text-div {
    position: relative;
    padding: 100px 0px;
    text-align: center;
    color: white;
}
.full-medical-care {
    font-family: 'Mulish', sans-serif;
    font-size: 40px;
    font-weight: 600;
}
.we-provide {
    font-family: 'Mulish', sans-serif;
    font-size: 20px;
    font-weight: 400;
}
.highest-standard {
    font-family: 'Mulish', sans-serif;
    font-size: 22px;
    font-weight: 400;
}
.know-more {
    background: #0052FF;
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: white;
    border: none;
    padding: 8px 25px;
}
.we-provide, .full-medical-care {
    margin-bottom: 0px !important;
}
@media(max-width: 991px) {
    .jumbotron {
        min-height: 450px;
    }
}
@media(min-width: 992px) and (max-width: 1159px){
    .jumbotron {
        min-height: 500px;
    }
}
@media(min-width: 1160px){
    .jumbotron {
        min-height: 500px;
    }
}
.navbar {
    position: sticky;
    top: 0;
}
.services-icon-image {
    height: 60px;
    width: 60px;
    margin: 0 auto !important;
}
.service-name-span {
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #0052FF;
    margin-top: 5px;
}
.service-div p {
    text-align: center;
}
.service-info-text {
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.service-div {
    display: grid;
    margin-top: 50px;
}
.our-departments-div, .faq-div {
    background: #F9F9F9;
}
.services-div, .our-departments-div, .faq-div {
    padding: 35px 30px;
}
.our-departments-heading, .our-services-heading, .faq-heading {
    font-family: 'Mulish', sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: #202020;
    text-align: center;
    margin-bottom: 5px;
}
.our-departments-info-text {
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    color: #5B5B5B;
}
.psychiatry-div {
    background: #0052FF;
}
.departments-images {
    width: 55px;
    height: 55px;
}
.psychiatry-div p {
    color: white;
    margin-top: 10px;
    text-align: center;
}
.other-departments-div, .psychiatry-div {
    border-radius: 10px;
    padding: 40px 0px;
    margin-top: 30px;
}
.departments-inner-div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.other-departments-div {
    background-color: white;
}
.other-departments-div p {
    color: #0052FF;
    margin-top: 10px;
    text-align: center;
}
.medic-span, .lab-span {
    font-family: 'Mulish', sans-serif;
    font-size: 20px;
}
.medic-span {
    font-weight: 700;
    color: #0052FF;
}
.lab-span {
    font-weight: 400;
    color: white;
}
.services-images {
    width: 50px;
    height: 50px;
}
.coronavirus-div {
    border-radius: 10px;
    background: #0052FF;
}
.other-service-div {
    border: 1px solid #0052FF;
    border-radius: 10px;
}
.services-heading {
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
}
.other-service-div .services-heading, .dropdown-heading-text {
    color: #0052FF;
}
.coronavirus-div .services-heading {
    color: white;
}
.services-text {
    font-family: 'Mulish', sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.other-service-div .services-text {
    color: #3A3A3A;

}
.coronavirus-div .services-text {
    color: white;
}
.services-div {
    margin-top: 40px;
}
@media(max-width: 767px) {
    .services-div {
        padding: 35px 20px;
    }
    .dropdown-button, .faq-each-text-div {
        width: 100% !important;
    }
    .faq-div {
        padding: 35px 15px !important;
    }
}
@media(min-width: 768px) and (max-width: 884px) {
    .services-div {
        padding: 35px 15px;
    }
}
@media(min-width: 768px) and (max-width: 991px) {
    .dropdown-button, .faq-each-text-div {
        width: 100% !important;
    }
}
.checkmark {
    width: 20px;
    height: 20px;
}
.services-list-text, .services-list-active-text {
    font-family: 'Source Sans 3', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.services-list-text {
    color: #3A3A3A;
}
.services-list-active-text {
    color: white;
}
.faq-nursewoman {
    object-fit: contain;
    width: 100%;
    height: 600px;
}
.dropdown-icon-image {
    float: right;
    width: 15px;
    height: 20px;
}
.dropdown-heading-text {
    float: left;
    font-family: 'Mulish', sans-serif;
    font-size: 15px;
    font-weight: 600;
}
.dropdown-button {
    border: 1px solid #0051ff7a;
    border-radius: 10px;
    background-color: white;
    padding: 15px 20px;
    width: 80%;
}
.faq-each-div p {
    font-family: 'Mulish', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #3A3A3A;
    margin-top: 30px;
    padding: 0px 20px;
}
.faq-each-text-div {
    width: 80%;
}
.faq-each-div {
    margin-top: 10px;
}