.nav-links {
    font-size: smaller;
    color: white !important;
    padding-right: 50px !important;
}
.home-link {
    color: #0052FF !important;
}
.jumbotron {
    position: relative;
    background-image: url('./components/Images/Hero-Image.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    padding: 20px 20px 100px 20px;
}
.grey-film {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100% !important;
    background-color: rgba(0, 0, 0, 0.5);
}  
.jumbotron-text-div {
    position: relative;
    padding: 100px 0px;
    text-align: center;
    color: white;
}
.full-medical-care {
    font-family: 'Mulish', sans-serif;
    font-size: 40px;
    font-weight: 600;
}
.we-provide {
    font-family: Mulish;
    font-size: 20px;
    font-weight: 400;
}
.highest-standard {
    font-family: Mulish;
    font-size: 22px;
    font-weight: 400;
}
.know-more {
    background: #0052FF;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    color: white;
    border: none;
    padding: 5px 10px;
}
.we-provide, .full-medical-care {
    margin-bottom: 0px !important;
}
@media(max-width: 991px) {
    .jumbotron {
        min-height: 450px;
    }
}
@media(min-width: 992px) and (max-width: 1159px){
    .jumbotron {
        min-height: 500px;
    }
}
@media(min-width: 1160px){
    .jumbotron {
        min-height: 500px;
    }
}
.navbar {
    position: sticky;
    top: 0;
}
.services-icon-image {
    height: 80px;
    width: 80px;
}